<footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container text-center">
            <div class="footer-logo">
                <a href="#home"><img class="img-circle" src="{{ asset('images/team/3.jpg')}}" alt="" style="width: 80px; height: 80px"></a>
            </div>
            <div class="social-icons">
                <ul>
                    <li><a class="twitter" target="_blank" href="https://twitter.com/mohamedcra1"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/mohamed-camara-a3326a144"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>&copy; 2017 Mohamed Camara.</p>
                </div>
            </div>
        </div>
    </div>
</footer>